{#=====================================================
  Admin control page (DEMO)
  lets the admin pick to add a team or to edit an allready exsisting team 
  or to go back 
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

   FOOTBALL ADMIN

{% endblock %}


{% block content %}
 <h1>edit a team</h1>


    <article>

        <ul>
            {% for team in teams %}

                <li>
                    <a href="/edit_teams/{{ team.id }}">
                        {{ team.name }}
                    </a>
                </li>

            {% else %}

                <p> None! </p>
    {%endfor%}
        </ul>



<a role="button" href="/">Back </a>

{% endblock %}

