{#=====================================================
  Home page
  - Hero style greeting banner
  - List of teams passed in as 'teams' array
  - Form for looking at a games 
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Saxton Football

{% endblock %}


{% block content %}

    <h1>Select a Team...</h1>


    <article>

        <ul>
            {% for team in teams %}

                <li>
                    <a href="/team/{{ team.id }}">
                        {{ team.name }}
                    </a>
                </li>

            {% else %}

                <p> None! </p>

            {% endfor %}
        </ul>

    </article>
<a role="button" href="/admin">admin only </a>
{% endblock %}

