{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Single Thing

{% endblock %}


{% block content %}

    <h1>Team Info</h1>


    <article>

        <header>

            <h1>{{ team.name }}</h1>
              
            <p>{{ team.details }}</p>

            <h3>players</h3>
            <p>{{ team.players }}</p>
           
        </header>

        <h3>Games</h3>

        <table>
            <thead>
                <tr>
                    <th>Opponent</th>
                    <th>When</th>
                    <th>Where</th>
                </tr>
            </thead>

            <tbody>
                {% for game in games %}

                    <tr>
                        <td>{{ game.opponent }}</td>
                        <td>{{ game.date | nicedate }} at {{ game.time | nicetime }}</td>
                        <td>{{ game.location }}</td>
                    </tr>

                {% else %}

                    <p> None! </p>

                {% endfor %}
            </tbody>
        </table>
        
    </article>


    <a role="button" href="/">Back </a>

{% endblock %}

