{#=====================================================
  Things list page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - All Things

{% endblock %}


{% block content %}


    <article>

        <header>

            <h1>{{ team.name }}</h1>

            <p>{{ team.details }}</p>

            <h3>Players</h3>
            <p>{{ team.players }}</p>
        </header>

        <h3>Games</h3>

        <table>
            <thead>
                <tr>
                    <th>Opponent</th>
                    <th>When</th>
                    <th>Where</th>
                    <th> </th>
                </tr>
            </thead>

            <tbody>
                {% for game in games %}

                    <tr>
                        <td>{{ game.opponent }}</td>
                        <td>{{ game.date }} at {{ game.time }}</td>
                        <td>{{ game.location }}</td>
                        <td>
                        <a role="button" herf="/delete/<int:id>" method="POST"> delete
                         </a>
                         </td>
                    </tr>

                {% else %}

                    <p> None! </p>

                {% endfor %}
            </tbody>
        </table>
        
    </article>


    <article>
        
        <h3>Add a Game</h3>

        <form action="/game" method="POST">

            <input
                type="text"
                name="location"
                placeholder="Game location"
                required
            >

            <input
                type="date"
                name="date"
                placeholder="Game date"
                required
            >
            <input
                type="time"
                name="time"
                placeholder="Game time"
                required
            >

            <input
                type="hidden"
                name="team1"
                value="{{ team.id }}"
            >

            <select
                name="team2"
                required
            >
                {% for other_team in other_teams %}

                    <option value="{{ other_team.id }}">{{ other_team.name }}</option>

                {% endfor %}

            </select>


            <button>Add the row</button>

        </form>
    

    </article>
<a role="button" href="/admin">Back </a>
{% endblock %}

