{#=====================================================
  Things list page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - All Things

{% endblock %}


{% block content %}

    <h1>teams</h1>


    <article>

        <header>
            <h3>{{ team.name }}</h3>

            <p>{{ team.details }}</p>

            <p>{{ team.players }}</p>

            <p> {{ other_teams }}</p>
        </header>

        <ul>
            {% for game in games %}

                <li>
                    {{ game.location }}
                    {{ game.date }}
                    {{ game.time }}
                    {{ other_teams }}
                </li>

            {% else %}

                <p> None! </p>

            {% endfor %}
        </ul>


    
    </article>


    <article>

        <h3>Add a Game</h3>

        <form action="/game" method="POST">

            <input
                type="text"
                name="location"
                placeholder="Game location"
                required
            >

            <input
                type="date"
                name="date"
                placeholder="Game date"
                required
            >
            <input
                type="time"
                name="time"
                placeholder="Game time"
                required
            >

            <input
                type="hidden"
                name="team1"
                value="{{ team.id }}"
            >

            <select
                name="team2"
                required
            >
                {% for other_team in other_teams %}

                    <option value="{{ other_team.id }}">{{ other_team.name }}</option>

                {% endfor %}

            </select>


            <button>Add the row</button>

        </form>

    </article>
<a role="button" href="/admin">Back </a>
{% endblock %}

