{#=====================================================
  Things list page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - All Things

{% endblock %}


{% block content %}

    <h1>Things...</h1>


    <article>

        <ul>
            {% for location in footballgames %}

                <li>
                    <a href="/database/{{ footballgames.id }}">
                        {{ footballgames.location }}
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>


    <article>

        <h3>Create a new row</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="location"
                placeholder="Name of new location"
                required
            >

            <input
                type="date"
                name="date"
                placeholder="date"
                required
            >
              <input
                type="time"
                name="time"
                placeholder="time"
                required
            >
             <input
                type="number"
                name="team1"
                min="1"
                placeholder="first team"
                required
            >
              <input
                type="number"
                name="team2"
                min="1"
                placeholder="second team"
                required
            >

            <button>Add the row</button>

        </form>

    </article>

{% endblock %}

