/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/


/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }


/*adding colors*/
article{background-color: rgb(74, 91, 207);}

a{
   
 color:white;

}
/* For general text selection highlight */

html {
    background-color: rgb(57, 59, 155);
}

body{
    background-color: rgb(57, 59, 155);
    height: 1300px;
}

h1{

    background-color:rgb(57, 59, 155);
   
    color:white;

}
header{
    color:white;
    
}
main{
    background-color: rgb(57, 59, 155);
}

h3{
    color:white
}
p{ 
    color:white
}

